* {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1320px;
  margin: auto;
}
body {
  background: linear-gradient(
    90deg,
    rgba(255, 247, 231, 0) 0%,
    rgba(255, 241, 220, 1) 100%
  );
}
/* =========================Common CSS Start=========================== */
ul,
ol {
  list-style: none;
}
a {
  color: #817382;
  text-decoration: none;
}
.flex {
  display: flex;
}
.oxanium {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.thin {
  font-weight: 100;
}
.extralight {
  font-weight: 200;
}
.light {
  font-weight: 300;
}
.normal {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.extrabold {
  font-weight: 800;
}
.black {
  font-weight: 900;
}
.button {
  color: #f95c19;
  padding: 12px 20px;
  background-color: #ffe4d9;
  border-radius: 5px;
  font-size: 20px;
}
.title {
  color: #f95c19;
  font-size: 31px;
  font-weight: 700;
  font-family: "Oxanium", sans-serif;
}
.subtitle {
  color: #11111d;
  font-size: 39px;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
}
.titleWrapper {
  text-align: center;
}
/* =========================Common CSS End=========================== */


/* =========================Nabver CSS start============================ */
header {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.15) 100%
  );
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}
.header_main {
  align-items: center;
  gap: 532px;
  padding: 15px 0px;
}
.header_nav_item {
  gap: 25px;
  font-size: 16px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
.header_nav_item li a:hover {
  color: #f95c19;
}
.header_search {
  justify-content: center;
  align-items: center;
  background: #ffedc9;
  width: 50px;
  height: 50px;
  margin-left: 45px;
  border-radius: 6px;
  margin-right: 8px;
}

/* =========================Nabver CSS End============================ */


/* =========================Banner CSS Start============================ */
#banner {
  padding-top: 108px;
  padding-bottom: 168px;
}
.banner_text {
  align-self: center;
}
.banner_text h1 {
  color: #261134;
  font-size: 49px;
  width: 516px;
  line-height: 120%;
}
.banner_text p {
  color: #4d4d4d;
  font-size: 20px;
  line-height: 120%;
  width: 330px;
  margin-top: 16px;
  margin-bottom: 41px;
}
.banner_button_color {
  color: #ffffff;
  background-color: #f95c19;
}
.banner_button_color i {
  margin-left: 10px;
}
/* =========================Banner CSS End============================ */


/* =========================Services CSS start============================ */
.services_main {
  margin-top: 86px;
  gap: 24px;
}
.services_card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 49px 60px;
}
.services_card_icon .circle {
  text-align: center;
  margin: auto;
  background-color: #ffaf0f;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.services_card_icon .circle img {
  margin-top: 37px;
}
.services_card h2 {
  text-align: center;
  color: #464558;
  font-size: 25px;
  margin-top: 29px;
}
.services_card p {
  color: #7b7a8b;
  font-size: 16px;
  width: 301px;
  margin-top: 32px;
  margin-bottom: 36px;
}
.services_card ul {
  color: #7b7a8b;
  font-size: 16px;
  line-height: 120%;
  list-style: disc;
  margin-left: 17px;
}
::marker {
  font-size: 18px;
  color: #f95c19;
}
.services_btn{
  background-color: transparent;
  border: 1px solid #F95C19;
  border-radius: 5px;
  display: inline-block;
  margin-top: 60px;
  padding: 12px 96px;
  /* margin-left: 60px; */
}
.services_btn:hover{
  background-color: #F95C19;
  color: #ffffff;
}
/* =========================Services CSS End============================ */


/* =========================ACtivity CSS Start============================ */
#activity{
margin-top: 172px;
margin-bottom: 162px;
}
.activity_card{
  text-align: center;
  margin: auto;
}
.activity_img{
  margin-top: 20px ;
}
.activity_img_other{
  margin-top: 37px;
}
.activity_card p{
  color: #464558;
  font-size: 20px;
  line-height: 120%;
  margin-top: 6px;
}
/* =========================ACtivity CSS End============================ */


/* =========================Delivery CSS End============================ */

/* =========================Delivery CSS End============================ */


