* {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1320px;
  margin: auto;
}
body {
  background: linear-gradient(
    90deg,
    rgba(255, 247, 231, 0) 0%,
    rgba(255, 241, 220, 1) 100%
  );
}
/* =========================Common CSS Start=========================== */
ul,
ol {
  list-style: none;
}
a {
  color: #817382;
  text-decoration: none;
}
.flex {
  display: flex;
}
.oxanium {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.thin {
  font-weight: 100;
}
.extralight {
  font-weight: 200;
}
.light {
  font-weight: 300;
}
.normal {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.extrabold {
  font-weight: 800;
}
.black {
  font-weight: 900;
}
.button {
  color: #f95c19;
  padding: 12px 20px;
  background-color: #ffe4d9;
  border-radius: 5px;
  font-size: 20px;
}
.title {
  color: #f95c19;
  font-size: 31px;
  font-weight: 700;
  font-family: "Oxanium", sans-serif;
}
.subtitle {
  color: #11111d;
  font-size: 39px;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
}
.titleWrapper {
  text-align: center;
}
/* =========================Common CSS End=========================== */

/* =========================Nabver CSS start============================ */
header {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.15) 100%
  );
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}
.header_main {
  align-items: center;
  gap: 532px;
  padding: 15px 0px;
}
.header_nav_item {
  gap: 25px;
  font-size: 16px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
.header_nav_item li a:hover {
  color: #f95c19;
}
.header_search {
  justify-content: center;
  align-items: center;
  background: #ffedc9;
  width: 50px;
  height: 50px;
  margin-left: 45px;
  border-radius: 6px;
  margin-right: 8px;
}

/* =========================Nabver CSS End============================ */

/* =========================Banner CSS Start============================ */
#banner {
  padding-top: 108px;
  padding-bottom: 168px;
}
.banner_text {
  align-self: center;
}
.banner_text h1 {
  color: #261134;
  font-size: 49px;
  width: 516px;
  line-height: 120%;
}
.banner_text p {
  color: #4d4d4d;
  font-size: 20px;
  line-height: 120%;
  width: 330px;
  margin-top: 16px;
  margin-bottom: 41px;
}
.banner_button_color {
  color: #ffffff;
  background-color: #f95c19;
}
.banner_button_color:hover {
  background-color: #ffffff;
  color: #f95c19;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.banner_button_color i {
  margin-left: 10px;
}
/* =========================Banner CSS End============================ */

/* =========================Services CSS start============================ */
.services_main {
  margin-top: 86px;
  gap: 24px;
}
.services_card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 49px 60px;
}
.services_card_icon .circle {
  text-align: center;
  margin: auto;
  background-color: #ffaf0f;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.services_card_icon .circle img {
  margin-top: 37px;
}
.services_card h2 {
  text-align: center;
  color: #464558;
  font-size: 25px;
  margin-top: 29px;
}
.services_card p {
  color: #7b7a8b;
  font-size: 16px;
  width: 301px;
  margin-top: 32px;
  margin-bottom: 36px;
}
.services_card ul {
  color: #7b7a8b;
  font-size: 16px;
  line-height: 120%;
  list-style: disc;
  margin-left: 17px;
}
::marker {
  font-size: 18px;
  color: #f95c19;
}
.services_btn {
  background-color: transparent;
  border: 1px solid #f95c19;
  border-radius: 5px;
  display: inline-block;
  margin-top: 60px;
  padding: 12px 96px;
}
.services_btn:hover {
  background-color: #f95c19;
  color: #ffffff;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
/* =========================Services CSS End============================ */

/* =========================ACtivity CSS Start============================ */
#activity {
  margin-top: 172px;
  margin-bottom: 162px;
}
.activity_card {
  text-align: center;
  margin: auto;
}
.activity_img {
  margin-top: 20px;
}
.activity_img_other {
  margin-top: 37px;
}
.activity_card p {
  color: #464558;
  font-size: 20px;
  line-height: 120%;
  margin-top: 6px;
}
/* =========================ACtivity CSS End============================ */

/* =========================Delivery CSS Start============================ */
#delivery {
  margin-bottom: 149px;
}
.delivery_bg {
  color: #ffffff;
  padding-top: 128px;
  padding-bottom: 168px;
  align-items: center;
  flex-direction: column;
  background: url("../Imeges/delivery.png") rgb(10, 9, 13, 0.8);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.delivery_title {
  font-size: 32px;
  color: #f95c19;
  text-align: center;
  margin: 28px 0px;
}
.delivery_description {
  color: #ffffff;
  font-size: 25px;
  width: 673px;
  text-align: center;
}
.delivery_btn {
  background-color: #f95c19;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* =========================Delivery CSS End============================ */

/* =========================Testimonial CSS Start============================ */
#testimonial {
  margin-bottom: 200px;
}
.testimonial_title {
  align-items: center;
  justify-content: center;
  gap: 38px;
}
.testimonial_headline {
  text-align: center;
  margin-top: 14px;
}
.testimonial_content {
  width: 872px;
  margin-top: 90px;
  margin: auto;
  background-color: #ffffff;
  padding-top: 39px;
  padding-bottom: 34px;
  padding-right: 29px;
  padding-left: 38px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.testimonial_content h2 {
  font-size: 25px;
  color: #f95c19;
}
.testimonial_content p {
  font-size: 16px;
  color: #464558;
  margin: 15px 0px;
}
.testimonial_content_bottom {
  justify-content: space-between;
  align-items: center;
}
.testimonial_review {
  color: #f95c19;
}
.testimonial_client {
  text-align: right;
  gap: 13px;
  align-items: center;
}
.testimonial_client h3 {
  font-size: 16px;
  color: #222132;
}
.testimonial_client h4 {
  font-size: 16px;
  color: #464558;
  margin-top: 4px;
}
.testimonial_client img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* =========================Testimonial CSS End============================ */

/* =========================Contact CSS Start============================ */
#contact {
  margin-bottom: 169px;
}
.contact_main {
  width: 872px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.contact_left {
  width: 49%;
}
.contact_left h4 {
  font-size: 24px;
  color: #f95c19;
  margin-top: 13px;
}
.contact_left h3 {
  font-size: 39px;
  color: #222132;
  line-height: 110%;
  width: 412px;
  margin-top: 20px;
}
.contact_left h6 {
  font-size: 25px;
  color: #9291a1;
  margin-top: 9px;
}
.contact_right {
  width: 48%;
}
.contact_right form {
  flex-direction: column;
  font: 16px;
  gap: 16px;
}
.contact_right input,
textarea {
  border: 2px solid #c5c5d2;
  padding: 15px 20px;
  background-color: transparent;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  resize: none;
}
.contact_right input::placeholder,
textarea::placeholder {
  font-size: 16px;
  font-family: "Oxanium", sans-serif;
  line-height: 145%;
  color: #9291a1;
  text-transform: capitalize;
}
.contact_right button {
  font-size: 20px;
  background-color: #f95c19;
  color: #ffffff;
  border: none;
}
.contact_right button:hover {
  background-color: transparent;
  color: #f95c19;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
/* =========================Contact CSS End============================ */

/* =========================Find_Us CSS Start============================ */
#Fineus {
  margin-bottom: 185px;
}
.findus_title {
  text-align: center;
}
.findus_access {
  margin-top: 85px;
  justify-content: space-between;
}
.findus_access_contact {
  padding-top: 81px;
  padding-left: 85px;
  padding-right: 126px;
  padding-bottom: 81px;
  background-color: #fefcfa;
}
.findus_access_contact h6 {
  font-size: 20px;
  color: #464558;
}
.findus_access_contact i {
  color: #ffaf0f;
  margin-right: 16px;
  font-size: 20px;
}
.findus_access_contact_item_1 {
  font-size: 16px;
  color: #5c5b6c;
  margin-top: 37px;
  margin-bottom: 15px;
}
.findus_access_contact_item_2 {
  font-size: 16px;
  color: #5c5b6c;
  width: 285px;
  align-items: center;
}
.findus_access_contact_item_3 {
  font-size: 16px;
  color: #5c5b6c;
  margin-top: 15px;
}
.findus_access_contact_icon i {
  color: #f95c19 !important;
  margin-top: 51px;
  font-size: 25px;
}
.Findus_call {
  background-color: #f95c19;
  color: #ffffff;
  padding: 22px 113px;
  margin-top: 30px;
  margin-left: 387px;
  font-size: 20px;
}
.Findus_call i {
  margin-right: 12px;
  font-size: 25px;
}
/* =========================Find_Us CSS End============================ */

/* =========================Footer CSS Start============================ */
footer {
  background-color: #222132;
  padding-top: 84px;
}
.pre_footer_main {
  justify-content: space-between;
  align-items: center;
}
.pre_footer_left h3 {
  font-size: 39px;
  line-height: 110%;
  color: #ffffff;
}
.pre_footer_left p {
  font-size: 16px;
  color: #c5c5d2;
  line-height: 145%;
  width: 501px;
  margin-top: 20px;
}
.pre_footer_right h4 {
  font-size: 18px;
  color: #f95c19;
  margin-bottom: 13px;
}
.pre_footer_right input,
textarea {
  width: 380px;
  border: 2px solid #c5c5d2;
  padding: 15px 20px;
  background-color: transparent;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  resize: none;
}
.pre_footer_right input::placeholder,
textarea::placeholder {
  font-size: 16px;
  font-family: "Oxanium", sans-serif;
  line-height: 145%;
  color: #9291a1;
  text-transform: capitalize;
}
.pre_footer_right button {
  font-size: 20px;
  color: #ffffff;
  background-color: #f95c19;
  border: none;
  margin-left: 16px;
}
.mid_footer {
  margin-top: 84px;
  background-color: #2f2e41;
  padding: 50px 0px;
}
.mid_footer_main {
  align-items: center;
  justify-content: space-between;
}
.mid_footer_left {
  width: 48%;
}
.mid_footer_left p {
  font-size: 16px;
  line-height: 22px;
  color: #9291a1;
  width: 190px;
  margin-top: 12px;
}
.mid_footer_right {
  width: 50%;
  justify-content: space-between;
}
.mid_footer_right_items h3 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 22px;
}
.mid_footer_right_items ul li {
  color: #9291a1;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 7px;
}
.mid_footer_right_items ul li:last-child {
  margin-bottom: 0px;
}
.bottom_footer{
  padding: 30px 0px ;
  align-items: center;
  justify-content: space-between;
}
.bottom_footer h6{
  font-size: 13px;
  color: #DBDBE9;
}
.bottom_footer h5{
  font-size: 13px;
  color: #DBDBE9;
}
.bottom_footer_right{
  color: #F95C19;
}
/* =========================Footer CSS End============================ */
